<mat-card *ngIf="(!isAddModule && updateOnePermission) || (isAddModule && createOnePermission)">
  <mat-card-header>
    <mat-card-title>{{isAddModule ? "Criar" : "Editar"}} permissão</mat-card-title>
    <mat-card-subtitle>
      Utilize os campos abaixo para criar grupos de acesso a esta ferramenta administrativa, selecionar quais módulos esses grupos poderão atuar e quais permissões poderão fazer nos módulos liberados.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="isLoading" class="loading">
      <mat-progress-bar color="primary" mode="buffer">
      </mat-progress-bar>
    </div>
    <form id="permissionForm" [formGroup]="permissionFormForm" #permissionFormDirective="ngForm"
      (ngSubmit)="permissionFormSubmit(permissionFormDirective)" *ngIf="!isLoading">
      <mat-tab-group>
        <mat-tab label="Grupo de permissão" id="permissionGroupTab">
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Nome do grupo" required
              autocomplete="new-password">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput type="text" formControlName="description" placeholder="Descrição do grupo"
              autocomplete="new-password">
          </mat-form-field>

          <mat-slide-toggle formControlName="isAdminPermission">
            Permissão administrativa
          </mat-slide-toggle>
        </mat-tab>
        <mat-tab label="Permissões sobre módulos" id="moduleTab">
          <div>
            <ng-container formArrayName="modulePermissions">
              <mat-list *ngFor="let _modulePermissions of getModulePermissions(this.permissionFormForm); index as i">
                <ng-container [formGroupName]="i">
                  <mat-list-item>
                    Permissão sobre módulo {{1 + i}}
                  </mat-list-item>
                  <div>

                    <mat-form-field>
                      <mat-label>Módulo</mat-label>
                      <mat-select formControlName="moduleId">
                        <mat-option *ngFor="let moduleIdItem of moduleIdSelectObject" [value]="moduleIdItem.value">
                          {{moduleIdItem.label}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Permissões</mat-label>
                      <mat-select formControlName="permissionActions" multiple>
                        <mat-option *ngFor="let permissionActionsItem of permissionActionsSelectObject"
                          [value]="permissionActionsItem.value">
                          {{permissionActionsItem.label}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                  <div>
                    <button mat-button type="button" color="warn" (click)="removeModulePermissions(i)">
                      Remover permissão sobre módulo
                    </button>
                  </div>
                </ng-container>
                <mat-divider></mat-divider>
              </mat-list>
            </ng-container>
          </div>
          <div style="margin: 10px 0;">
            <button mat-raised-button type="button" (click)="addModulePermissions()">
              Adicionar permissão sobre módulo
            </button>
            <mat-divider></mat-divider>
          </div>
        </mat-tab>
      </mat-tab-group>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!permissionFormForm.valid || isLoading">
          <mat-icon>{{isAddModule ? "save" : "edit"}}</mat-icon>
          {{isAddModule ? "Criar" : "Editar"}}
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
