<mat-card *ngIf="(!isAddModule && updateOnePermission) || (isAddModule && createOnePermission)">
  <mat-card-header>
    <mat-card-title>Enviar convite</mat-card-title>
    <mat-card-subtitle>
      Utilize as abas abaixo para convidar os usuários que terão acesso a esta ferramenta administrativa.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="isLoading" class="loading">
      <mat-progress-bar color="primary" mode="buffer">
      </mat-progress-bar>
    </div>
    <form id="invitationForm" [formGroup]="invitationFormForm" #invitationFormDirective="ngForm"
      (ngSubmit)="invitationFormSubmit(invitationFormDirective)" *ngIf="!isLoading">

      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Gmail ou Apple apenas." required
          autocomplete="new-password">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Grupo de permissões relacionado</mat-label>
        <input type="text" aria-label="Grupo de permissões relacionado" formControlName="permissionGroupId" matInput
          [matAutocomplete]="autoPermissionGroupId" (keyup)="callSetFilteredPermissionGroupId()" required>
        <mat-autocomplete #autoPermissionGroupId="matAutocomplete"
          [displayWith]="displayFnToPermissionGroupId.bind(this)">
          <mat-option *ngFor="let permissionGroupIdItem of filteredPermissionGroupId"
            [value]="permissionGroupIdItem._id">
            {{permissionGroupIdItem.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!invitationFormForm.valid || isLoading">
          <mat-icon>{{isAddModule ? "save" : "edit"}}</mat-icon>
          {{isAddModule ? "Criar" : "Editar"}}
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
